body {
  width: 100%;
  height: 100%;
  background-color: #f6f1ee;
  max-width: 1500px;
  margin: auto;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem;
}

li {
  padding: 0.3rem;
}

input {
  height: 25px;
  font-size: 17px;
  margin: 0 1rem;
  text-align: right;
  width: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 8px;
  background-color: whitesmoke;
  border: 1px solid lightgray;
}

#root {
  display: flex;
}

#myChart {
  border: 1px solid lightgray;
  background-color: white;
  width: 100%;
  margin-top: 1rem;
}

.main {
  margin: auto;
  width: 70%;
  padding: 1.5rem;
  height: 90%;
}

/* 헤더 영역 */
.date {
  text-align: center;
  margin: 0;
}

.stock__name {
  width: 300px;
  text-align: left;
}

.chart__button {
  border: none;
  background-color: #666;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin: 0 0.2rem;
}

.chart__button:hover {
  background-color: #444;
}

/* 버튼 영역 */
.button__area {
  text-align: right;
  margin: 1rem 0;
}

.button__area button {
  background-color: #5ba0f0;
  border: none;
  padding: 8px;
  margin: 8px 10px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: 100px;
}

.button__area button:hover {
  transform: scale(1.1);
}

/* 메인 - 왼쪽 */
.container {
  flex: 1;
}

.box__title {
  margin-left: 1.5rem;
}

/* .stockMemo {
  width: 10px;
} */

.stock__info .title {
  display: inline-block;
  width: 100px;
}

.stock__text {
  text-align: left;
  background-color: gainsboro;
}

.stock_current {
  width: 150px;
  background-color: gainsboro;
  text-align: left;
}

.cntBox {
  width: 80px;
  margin-left: 1rem;
}

.stockCount__box {
  margin-bottom: 1rem;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 80%;
}

.box {
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 80%;
  padding-bottom: 1rem;
}

.water_box {
  max-height: 200px;
  overflow-y: auto;
}

.water__list {
  margin: 8px 0;
}

/* 메인 - 오른쪽 */
.cal__resultBox {
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgray;
  height: 45%;
}

.cal__result .item {
  display: flex;
  justify-content: space-between;
}

.cal__result__subTitle {
  font-weight: 600;
  font-size: 17px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  opacity: 0.5;
}

.total {
  width: 100%;
}

.resultCnt {
  text-align: right;
  width: 50%;
  margin-right: 1rem;
}

.totalPercent2 {
  margin-right: 0;
}

.cal__text {
  visibility: hidden;
}

.stockMemo__icon,
.resultMemo__icon {
  color: #555;
}

.stockMemo,
.resultMemo {
  font-size: 13px;
  font-weight: 500;
  /* display: inline-block; */
  border: 1px solid lightgray;
  background-color: ghostwhite;
  border-radius: 10px;
  display: none;
}

@media (max-width: 1024px) {
  .main {
    width: 90%;
  }

  .container__box {
    display: flex;
    flex: 1;
  }

  .stockCount__box {
    margin-right: 1rem;
    width: 100%;
  }

  .myBox {
    width: 100%;
  }

  .myBox input {
    margin-bottom: 8px;
  }

  .water_box {
    width: 100%;
  }

  #root {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    width: 100%;
  }

  .header__input {
    display: flex;
    justify-content: space-between;
  }

  .header__input input {
    margin: 0;
    width: 80%;
    margin-top: 4px;
  }

  .date {
    width: 100px;
    font-size: 14px;
  }

  .stockCount__box ul {
    margin: 1rem;
  }

  .stock__name {
    width: 230px;
    font-size: 14px;
  }

  .chart__button {
    font-size: 14px;
  }

  .stock__info {
    display: flex;
    align-items: center;
  }

  .button__area {
    text-align: center;
  }
}
