body {
  width: 100vw;
  height: 100vh;
  background-color: #f6f1ee;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem;
}

li {
  padding: 0.3rem;
}

section {
  margin: 1.5rem;
  width: 50%;
  overflow-y: hidden;
  min-width: 500px;
}

input {
  height: 25px;
  font-size: 17px;
  margin: 0 0.5rem 1rem 2rem;
  text-align: right;
  width: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 8px;
  background-color: whitesmoke;
  border: 1px solid lightgray;
}

#root {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-width: 600px;
  position: relative;
}

@media (max-width: 1000px) {
  #root {
    flex-direction: column;
  }
}

/* 왼쪽 영역 */
.container p {
  margin-left: 2rem;
}

.stock__text {
  text-align: left;
}

.stock_current {
  width: 100px;
}

.searchBtn {
  margin-left: -0.5rem;
}

.searchBtn:hover {
  cursor: pointer;
}

.cntBox {
  width: 80px;
}

.stockCount__box,
.myCount_box,
.water_box {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.water_box {
  max-height: 200px;
  overflow-y: auto;
}

#stockMoney {
  background-color: gainsboro;
}

/* 오른쪽 영역 */
.cal__resultBox {
  border-radius: 10px;
  background-color: white;
  border: 1px solid lightgray;
  height: 45%;
}

.cal__result .item {
  display: flex;
  justify-content: space-between;
}

.cal__result__subTitle {
  font-weight: 600;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  opacity: 0.5;
}

.total {
  width: 100%;
}

.resultCnt {
  text-align: right;
  width: 50%;
  margin-right: 1rem;
}

.cal__text {
  visibility: hidden;
}

.memo {
  visibility: hidden;
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  border: 1px solid whitesmoke;
  padding: 0.8rem;
  background-color: gainsboro;
  color: black;
  z-index: 1;
  font-size: 14px;
  color: #333;
}

.final:hover > .memo {
  visibility: visible;
  z-index: 1;
}

/* 버튼 영역 */
.button__area {
  text-align: center;
}

.button__area button {
  background-color: #5ba0f0;
  border: none;
  padding: 8px;
  margin: 8px 10px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: 100px;
}

.button__area button:hover {
  transform: scale(1.1);
}